label {
	width: 250px;
	font-size:1.4em;
	display:table;
	text-align:right;
	vertical-align:middle;
	float:left;
	clear:left;
	padding-top:3px;
}
input {
	font-size:1.2em;
	float:left;
	clear:right;
	border:1px solid #ccc;
	padding:0.2em;
}
input, label {
	line-height:1em;
	margin:0.2em;
}
form {
	width:500px;
	margin:auto;
	display:block;
	clear:both;
}
.clear {
	clear:both;
}
.go {
	margin:2em;
	width:140px;
}
input:focus {
	outline:1px solid orange;
	border-color:orange;
}
.otrs {
	width:100%;
	clear:both;
	margin-top:1em;
	display:none;
}
.otrs-pending { /* yellow */
	background-color: #Fdf4d9;
	color: #523F05;
}
.otrs-received { /* blue */
	background-color: #EBF5FF;
	color: #002952;
}
.otrs-confirmed {
	background-color: #E5FFE5;
	color:#003300;
}
.otrs-loading {
	color:gray;
	font-weight:lighter;
}
.otrs-error, .otrs-mixed {
	color:red;
}

.otrs-none {
	color:darkgray;
	font-weight:normal;
	font-size:90%;
}
.otrs td:last-child {
	font-weight:bold;
	text-align:center;
	text-transform:capitalize;
}
.status p {
	margin:0;
	padding:0;
}
.otrs tr, .retry {
	display:none;
	width:150px;
	margin:auto;
	clear:both;
}
.header {
	display:table-row !important;
}
.top {
	float:right;
	font-size:0.8em;
	margin-right:0.2em;
}
.halt {
	display:none;
}
